<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>WikiDemo</display-name>
	<description>
		Demo for running the WikiTraining code.
    </description>
	<context-param>
		<param-name>props_path</param-name>
		<param-value>/home/kanika/wikiTraining/disamb.properties</param-value>
	</context-param>
	<listener>
		<listener-class>util.DisambPropertiesListener</listener-class>
	</listener>
</web-app>
